@font-face {
	font-family: 'annapolis';
	src: url('/police/Annapolis.ttf') format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
    /* border: dashed 1px red; */
}

body{
    height: auto;
}

.bleu {
    color:#13A9DD ;
}

.banniere-block{
    position: absolute;
    top: 0;
    height: 1400px;
    width: 100%;
    background: linear-gradient(#13A9DD 80%, #d8ebf0 20%);
    text-align: center;
}

.banniere-texte{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 175px;
    width: 100%;
    height: 100px;
    color: aliceblue;
    font-family: 'annapolis';    
}

.banniere-titre{
    font-weight: initial;
    font-size: 40px;    
}

.activite-main-container{
    position: relative;    
    max-width: 100%;
    height: 600px;
    background-color: #373b4d;
    top: 310px;
    padding: 10PX;
}

.card{
    border-radius: 5px;
    /* padding: 10px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    align-items: center;
}

.activite-grid{
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, minmax(325px, 450px));
    grid-template-rows: repeat(2, 300px);
    margin-bottom: 10px;
    text-align: center;
    justify-content: center;
}   

.card img{
    width: 120%;
    height: 120%;
}

.activite-grid-title{
    font-size: 17px;
    color: #13a9dd;
    text-decoration: underline;
    font-family: 'annapolis';
}

.activite-grid-text{
    text-align: center;
    font-size: 17px;
    font-style: italic  ;
    color: aliceblue;
    font-family: 'Inter', sans-serif;
    margin: 0 50px;
}

.activite-grid-btn{
    font-size: 15px;
    width: 50%;
    height: 30px;
    color: aliceblue;
    background-color: #13a9dd;
    border-radius: 10px;
    font-family: 'inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.transi-contact-main{
    overflow: hidden;
    position: relative;
    top: 350px;
    display: flex;
    align-items: center;
    justify-content: space-around;   
    background: #373b4d;
    width: 100%;
    height: 300px;
}

.transi-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 50%;
    height: 250px;
    color: aliceblue;
    font-style: italic;
    font-size: 21px;
    font-family: 'inter', sans-serif;
    text-align: left;
}
.transi-contact{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    right: 100px;
    width: 40%;
    height: 200px;
}

.transi-contact-text{
    text-align: center;
    font-size: 20px;
    color: aliceblue;
    font-family: "inter", sans-serif;
    font-size: 20px;
    padding: 0 40px;
}

.transi-contact-btn-container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.transi-contact-btn{
    font-size: 20px;
    margin: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 30px;
    background-color: #13A9DD;
    border-radius: 5px;
    color: aliceblue;
    font-family: "inter", sans-serif;
    font-style: italic;
    font-weight: bold;
}

.footer-wrapper {
    position: relative;
    top: 400px;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
  }

@media (max-width: 1500px) {
    .banniere-texte{
        top: 75px;
    }
    .activite-main-container{
        top: 210px;
    }
    .transi-contact-main{
      top: 250px;
    }
    .footer-wrapper{
        top: 300px;
    }
    .banniere-block{
        height: 1300px;
    }
}

@media (max-width: 1330px) {
  .activite-grid {
      grid-template-columns: repeat(2, minmax(325px, 450px));
      grid-template-rows: repeat(4, 300px);
  }
  .activite-main-container{
    height: 1200px;
  }
  .banniere-block{
      height: 1900px;
  }
}

@media(max-width:900px){
    .transi-contact-text{
        display: none;
    }

    .transi-contact-btn-container{
        height: 100%;
        flex-direction: column;
    }
    .transi-contact{
        right: 0;
        width: 25%;
    }
    .transi-text{
        width: 70%;
    }
}

@media(max-width:660px){
    .activite-grid{
        grid-template-columns: repeat(2, 225px);
        grid-template-rows: repeat(4, 200px);
    }
    .activite-grid-btn{
        display: none;
    }
    .activite-grid-title{
        font-size: 12px;
    }
    .activite-grid-text{
        width: 95%;
    }
    .activite-main-container{
        height: 800px;
    }
    .banniere-block{
        height: 1600px;
    }
    .card{
        justify-content: space-evenly;
    }
}

@media(max-width:460px){
    .activite-grid{
        grid-template-columns: repeat(2, 175px);
        grid-template-rows: repeat(4, 150px);
    }
    .activite-grid-text{
        font-size: 14px;
    }
}

@media(max-width:430px){
    .transi-contact{
        display: none;
    }
    
    .transi-text{
        width: 95%;
    }
    .activite-grid-title{
        font-size: 9.5px;
    }
    .activite-main-container{
        height: 600px;
    }
}

@media(max-width:350px){
    .activite-grid{
        grid-template-columns: repeat(2, 140px);
        grid-template-rows: repeat(4, 115px);
    }
    .activite-grid-title h2{
        margin: 0;
        font-size: 0.7rem;
    }
    .activite-grid-text{
        font-size: 10px;
    }
    
    .activite-main-container{
        height: 460px;
    }
    .transi-text-haut,
    .transi-text-bas{
        font-size: 12px;
    }
    .transi-contact-main{
        height: 150px;
    }
    .banniere-block{
        height: 1000px;
    }
}