@font-face {
	font-family: 'annapolis';
	src: url('/police/Annapolis.ttf') format('truetype');
}
body{
    margin: 0;
}

/*============================== TETE DE PAGE ==============================*/

.nav-info{
    position: fixed;
    width: 100%;
    height: 150px;
    top: 0;
    left: 0;
    z-index: 99;
    background-color: #373B4D;
    border-radius: 0 0 50px 50px;    
    display: flex;
    align-items: center;
    justify-content: space-between;
    animation: rangedown 1s ease-in-out;
}

.nav-logo img{
    transition: all 1s ease-in-out  ;
    margin: 15px;
    height: 120px;
    border-radius: 0 50px 0 50px;
}

.nav-menu{
    align-items: center;
    justify-content: space-between;
    display: flex;
    width: 60%;
    height: 50px;
    margin: 50px;
    color: aliceblue;
    font-size: 20px;
    font-family: 'annapolis';
}

.nav-info.scrolled-info {
    height: 50px;
    animation: range 1s ease-in-out;
}

@keyframes range {
    0%{
        height: 150px;
    }
    100%{
        height: 50px;
    }
}

@keyframes rangedown {
    0%{
        height: 50px;
    }
    100%{
        height: 150px;
    }
}

.nav-logo img {
    transition: opacity 0.3s ease-in-out; 
}

.nav-info.scrolled-info .nav-logo img {
    opacity: 0;
}


.nav-info .logo-text {
    position: absolute;
    top: 15px;
    left: 55px;
    color: #13a9dd; /* Couleur du texte */
    font-size: 20px;
    font-weight: bold;
    font-family: 'annapolis';
    transform: scale(0);
    transition: transform 0.5s ease-in-out;
}

.nav-info.scrolled-info .logo-text {
    transform: scale(1);
}




.banniere-texte{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 175px;
    left: 25%;
    width: 50%;
    font-size: 50px;
    height: 100px;
    color: aliceblue;
    font-family: 'annapolis';    
}

.banniere-block{
    position: absolute;
    top: 0;
    width: 100%;
    height: 5200px;
    background: #13A9DD;
}

/*============================== CGU ==============================*/

.bgcgucontainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.bgcgu{
    background: #373B4D;
    border: 15px solid aliceblue;
    position: relative;
    display: flex;
    top: 300px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 4650px;
    border-radius: 20px;
}

h2{
    font-family: 'annapolis';    
    font-size: 30px;
}

h3{
    font-family: 'annapolis';    
    font-size: 20px;
}

.containercgu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: aliceblue;
    font-family: sans-serif;
    margin: 50px;
    padding: 50px;
}

h4{
    font-size: larger;
}


a {
    color: #13A9DD; /* Couleur du texte */
    text-decoration: underline; /* Soulignement du texte */
  }
  
  /* Style des liens visités */
  a:visited {
    color: #13A9DD; /* Couleur du texte */
  }
  
  /* Style des liens au survol */
  a:hover {
    color: aliceblue; /* Couleur du texte */
    text-decoration: none; /* Pas de soulignement du texte */
  }
  
  /* Style des liens actifs (clic) */
  a:active {
    color: #13A9DD; /* Couleur du texte */
  }


