@font-face {
	font-family: 'annapolis';
	src: url('/police/Annapolis.ttf') format('truetype');
}
body{
    margin: 0;
}

/*============================== TETE DE PAGE ==============================*/

.banniere-texte{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 175px;
    width: 100%;
    height: 100px;
    color: aliceblue;
    font-family: 'annapolis';
    text-align: center;    
}

.banniere-titre{
    font-weight: initial;
    font-size: 40px;    
}

.banniere-block{
    position: absolute;
    top: 0;
    width: 100%;
    height: 5200px;
    background: #13A9DD;
}

/*============================== CGU ==============================*/

.footer-wide{
    position: relative;
    top: 400px;
}

.bgcgucontainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.bgcgu{
    background: #373B4D;
    border: 15px solid aliceblue;
    position: relative;
    display: flex;
    top: 300px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 4650px;
    border-radius: 20px;
}

h2{
    font-family: 'annapolis';    
    font-size: 30px;
}

h3{
    font-family: 'annapolis';    
    font-size: 20px;
}

.containercgu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: aliceblue;
    font-family: sans-serif;
    height: 100%;
    width: 95%;
}

h4{
    font-size: larger;
}


a{
    color: #13A9DD; /* Couleur du texte */
    text-decoration: underline; /* Soulignement du texte */
  }
  
  /* Style des liens visités */
  a:visited {
    color: #13A9DD; /* Couleur du texte */
  }
  
  /* Style des liens au survol */
  a:hover {
    color: aliceblue; /* Couleur du texte */
    text-decoration: none; /* Pas de soulignement du texte */
  }
  
  /* Style des liens actifs (clic) */
  a:active {
    color: #13A9DD; /* Couleur du texte */
}



/*============================== RESPONSIVE ==============================*/


@media (max-width: 1700px){

    .bgcgu{
        height: 4850px;
    }
    
    
}



@media (max-width: 1700px){

    .bgcgu{
        height: 4850px;
    }
    
    
}


@media (max-width: 1600px){

    .bgcgu{
        height: 5100px;
    }
    
    .banniere-block{
        height: 5500px;
    }

}

@media (max-width: 1500px){

    .bgcgu{
        height: 5500px;
    }
    
    .banniere-block{
        height: 6000px;
    }

}


@media (max-width: 1350px){

    .bgcgu{
        height: 6000px;
    }
    
    .banniere-block{
        height: 6500px;
    }

}


@media (max-width: 1160px){

    .bgcgu{
        height: 6500px;
    }
    
    .banniere-block{
        height: 7000px;
    }

}

@media (max-width: 1050px){

    .bgcgu{
        height: 7100px;
    }
    
    .banniere-block{
        height: 7500px;
    }

    p{
        font-size: 15px;
    }

}

@media (max-width: 900px){

    p{
        font-size: 13px;
    }

}

@media (max-width: 780px){
    
    p{
        font-size: 12px;
    }
}

@media (max-width: 500px){

    h2{
        font-family: 'annapolis';    
        font-size: 23px;
    }
    
    h3{
        font-family: 'annapolis';    
        font-size: 15px;
    }
    
    .bgcgu{
        height: 10500px;
    }
    
    .banniere-block{
        height: 11000px;
    }
}

@media (max-width: 500px){
    
    p{
        font-size: 12px;
    }

}