@font-face {
	font-family: 'annapolis';
	src: url('/police/Annapolis.ttf') format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');



body{
    overflow-x: hidden;
}

.petitseparateur{
    display: none;
}

.banniere-texte{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    top: 75px;
    height: 100px;
    color: aliceblue;
    font-family: 'annapolis';    
}

.banniere-block{
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    top: 0;
    left: 0;
    width: 100%;
    height: 310px;
    background: #13A9DD;
}

.responsive{
    display: none;
}

/*============================== CONTACT ==============================*/


.contmom{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    left: 0;
    height: 1900px;
    width: 100%;
    top: 300px;
    background: #373B4D;
}

.banniere-titre{
    font-weight: initial;
    font-size: 40px;    
}

.containercontacttitle{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75px;
    width: 87.5%;
    background-color: #D8EBF0;
    border-radius: 100px;
    border: solid 44px white;
}

h1{
    font-family: 'annapolis';
    font-size: 50px;
    color: #373B4D;
}

/*============================== CONTACT ==============================*/

.containercontact{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50px;
    width: 100%;
    height: 500px;
    text-align: center;
    color: aliceblue;
    font-size: 22px;
    font-family: sans-serif;
    font-style: italic;
    font-weight: 900;
}

.paracontact{
    position: relative;
    width: 50px;
    height: 90%;
    transform: skew(-20deg);
    background: #13A9DD;
}

.contactgauche{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 30%;
    height: 85%;
    transform: skew(-10deg);
}

.contactinfo{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 30%;
    height: 85%;
    transform: skew(-7deg);
}

.coocontainer{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.coocontent{
    width: 70%;
}

.un{
    position: relative;
    left: 9%;
}

.trois{
    position: relative;
    left: -7%;
}

.contactsvg{
    height: 50px;
    width: 50px;
}

.locacontact{
    left: 0;
    position: relative;
    width: 30%;
    height: 85%;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}


/*============================== DEVIS ET LABEL ==============================*/


.deviscontainermom{
    z-index: 1;
    position: relative;
    top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 1000px;
    width: 90%;
    background-color: white;
    border-radius: 100px;
    border: solid 44px white;
}

/*============================== LABEL ==============================*/

.cerificationcontainer{
    position: relative;
    display: flex;
    flex-direction: column;
    background: #D8EBF0;
    justify-content: space-around;
    align-items: center;
    width: 55%;
    height: 100%;
    border-radius: 80px;
}

.separateur{
    position: relative;
    width: 70%;
    height: 10px;
    background: #373B4D;
}

.devistitre{
    font-size: 40px;
    font-style: italic;
    font-family: sans-serif;
    color: #373B4D;
}

.logodistribatdevis{
    position: relative;
    max-width: 100%;
    width: 65%;
}

.demandedevistexte{
    font-size: 27px;
    font-style: italic;
    font-family: sans-serif;
    color: #373B4D;  
}

.labelcontainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.labelimg{
    max-width: 100%;
    width: 30%;
}

.rscontainer{
    display: flex;
    justify-content: space-around;
    width: 60%;
    padding-bottom: 40px;
}

.rslogo{
    max-width: 100%;
    width: 15%;
}

/*============================== DEVIS ==============================*/

.deviscontainer{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #D8EBF0;
    width: 42%;
    height: 100%;
    border-radius: 80px;

}

.devis{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 90%;
    width: 80%;
    background: #373B4D;
    border-radius: 30px;
    color: aliceblue;
    font-size: 22px;
    font-family: sans-serif;
    font-style: italic;
}

form{
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 28px;
    margin-bottom: 50px;
}

.sendbutton{
    width: 30%;
}

.deviscontentcontainer{
    position: relative;
    flex-wrap: wrap;
    width: 90%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

input{
    border-radius: 5px;
    width: 20%;
    color: #373B4D;
    font-size: 22px;
    font-family: sans-serif;
    font-style: italic;
}

select{
    color: #373B4D;
    font-size: 22px;
    font-family: sans-serif;
    font-style: italic;
    width: 100%;
}

textarea{
    border-radius: 5px;
    width: 40%;
    height: 35%;
    color: #373B4D;
    font-size: 22px;
    font-family: sans-serif;
    font-style: italic;
}




/*============================== RESPONSIVE ==============================*/



@media (max-width: 1520px){

    .devis{
        width: 90%;
        border-radius: 50px;
    }

    .containercontact{
        font-size: 20px;
    }

    .paracontact{
        transform: skew(0deg);
        border-radius: 10px;
        width: 35Px;
    }

    .contactinfo{
        transform: skew(0deg);
        justify-content: space-between;
        width: 35%;
        margin-right: 0;
    }

    .coocontainer{
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .coocontent{
        width: 33%;
    }

    .contactgauche{
        transform: skew(0deg);
    }

    .coocontent{
        width: 70%;
    }
    
    .un{
        left: 0;
    }
    
    .trois{
        left: 0;
    }

    .locacontact{
        transform: scale(0.9);
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    }

    .deviscontainermom{
        flex-direction: column;
        height: 2700px;
        width: 95%;
        border: solid 21px white;
    }
    
    .deviscontainer{
        margin-top: 21px;
        margin-bottom: 44px;
        width: 95%;
        height: 50%;
    }

    .cerificationcontainer{
        margin-bottom: 21px;
        width: 95%;
        height: 50%;
    }

    .contmom{
        height: 3600px;
    }

}


@media (max-width: 1500px){

    .banniere-texte{
        top: 0;
    }
}

@media (max-width: 1240px){

    .contmom{
        height: 4400px;
    }

    .containercontact{
        font-size: 20px;
        flex-direction: column;
        height: 30%;
    }

    .paracontact{
        width: 90%;
        height: 50px;
    }

    .contactgauche{
        justify-content: space-around;
        flex-direction: row;
        width: 90%;
        height: 35%;
    }
    
    .contactinfo{
        justify-content: space-around;
        flex-direction: row;
        width: 95%;
        height: 35%;
    }

    .locacontact{
        transform: scale(1.0);
        width: 60%;
        height: 40%;
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    }

    .trois{
        font-size: 18px;
        width: 115%;
    }

    .responsive{
        display: inherit;
    }

    .gauche{
        position: relative;
        width: 37%;
    }

    .milieu{
        position: relative;
        width: 30%;
    }
}

@media (max-width: 1140px){

    .banniere-titre{
        font-size: 35px;    
    }

    .content{
        font-size: 23px;
        width: 33%;
    }

    .contactsvg{
        font-size: 23px;
        width: 30px;
    }

    .coocontainer{
        width: 33%;
        font-size: 15px;
    }
}


@media (max-width: 950px){

    .banniere-titre{
        font-size: 30px;    
    }

    .content{
        font-size: 21px;
        width: 33%;
    }

    .contactsvg{
        font-size: 23px;
        width: 30px;
    }

    .coocontainer{
        width: 33%;
        font-size: 13px;
    }

}

@media (max-width: 800px){

    .devis{
        width: 100%;
        height: 100%;
    }

    .rslogo{
        max-width: 100%;
        width: 20%;
    }

    .demandedevistexte{
        font-size: 23px;
    }
}

@media (max-width: 700px){

    .contmom{
        height: 3700px;
    }
    

    .containercontacttitle{
        border: solid 21px white;
    }

    .cerificationcontainer{
        height: 1000px;
    }

    .deviscontainermom{
        flex-direction: column;
        height: 2200px;
        width: 95%;
        border: solid 21px white;
    }

    .contactgauche{
        flex-direction: column;
        width: 90%;
        height: 85%;
    }
    
    .contactinfo{
        flex-direction: column;
        width: 90%;
        height: 85%;
    }

    .content{
        font-size: 21px;
        width: 70%;
    }

    .contactsvg{
        font-size: 23px;
        width: 50px;
    }

    .coocontainer{
        width: 70%;
        font-size: 13px;
    }

    .petitseparateur{
        display: inherit;
        position: relative;
        width: 70%;
        height: 5px;
        border-radius: 5px;
        background: aliceblue;
    }

    .locacontact{
        height: 65%;
    }
    
}


@media (max-width: 580px){

    .banniere-texte{
        width: 95%;
    }

    
    .banniere-titre{
        font-weight: initial;
        font-size: 25px;    
    }

    .banniere-soustitre{
        font-size: 15px;
    }
}


@media (max-width: 450px){

    h1{
        font-size: 35px;
    }

    .locacontact{
        height: 60%;
    }

    .devistitre{
        font-size: 25px;
    }
    
    .demandedevistexte{
        font-size: 12px;
    }

    .cerificationcontainer{
        height: 600px;
    }

    .deviscontainermom{
        flex-direction: column;
        height: 1300px;
        width: 95%;
        border: solid 21px white;
    }

    .contmom{
        height: 2400px;
    }

    form{
        font-size: 17px;
    }

    .devis{
        font-size: 17px;
    }
    input{
        font-size: 15px;
    }
    
    select{
        font-size: 15px;
    }
    
    textarea{
        font-size: 15px;
    }
    
}

@media (max-width: 400px){

    .content{
        font-size: 17px;
    }

    .contactsvg{
        font-size: 23px;
        width: 30px;
    }

    .coocontainer{
        font-size: 8px;
    }

}

@media (max-width: 380px){

    select{
        font-size: 12px;
    }
    

    .banniere-titre{
        font-weight: initial;
        font-size: 17px;    
    }

    .banniere-soustitre{
        font-size: 7px;
    }
}

