@font-face {
	font-family: 'annapolis';
	src: url('/police/Annapolis.ttf') format('truetype');
}


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');

*{
    border: dashed 1px red;
}

body{
    margin: 0;
    z-index: -1;
}

/*========== BANNIERE ===========*/

.entreprisecontmom{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
}

.banniere-block{
    position: absolute;
    top: 0;
    width: 100%;
    height: 2315px;
    background: #13A9DD;
}

.banniere-texte{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 175px;
    left: 25%;
    width: 50%;
    height: 100px;
    color: aliceblue;
    font-family: 'annapolis';    
}

.banniere-titre{
    font-weight: initial;
    font-size: 40px;    
}

.containerentreprise{
    z-index: 1;
    position: relative;
    display: block;
    height: 1900px;
    max-width: 1500px;
    width: 90%;
    padding-top: 3%;
    padding-bottom: 3%;
    top: 310px;
    background-color: #D8EBF0;
    border-radius: 100px;
    border: solid 44px white;
}

.bleu{
    color: #13A9DD;
}

/*============================== HISTORIQUE ==============================*/

.historique{
    display: flex;
    height: 25%;
    width: 100%;
}

.imghistorique{
    position: relative;
    left: 6%;
    max-width: 45%;
    border-radius: 10px;
}

.historiquetextecontainer{
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    left: 18%;
    top: 20%;
    height: 55%;
    width: 35%;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-style: italic;
}

.historiquetitre{
    color: #13A9DD;
    text-decoration-line: underline;
    font-size: 50px;
    font-weight: bold;
}

.historiquetexte{
    font-size: 25px;
}

.parahistorique{
    position: absolute;
    width: 190px;
    height: 475px;
    transform: skew(-20deg);
    background: #373B4D;
    left: 45%;
}

/*============================== EQUIPE ==============================*/

.equipe{
    display: flex;
    height: 25%;
    width: 100%;
    align-items: center;
}

.equipetextecontainer{
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    left: 5%;
    height: 100%;
    width: 35%;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-style: italic;
}

.equipetitre{
    color: #13A9DD;
    text-decoration-line: underline;
    font-size: 50px;
    font-weight: bold;
}

.equipetexte{
    font-size: 25px;
}

.paraequipe{
    position: absolute;
    width: 185px;
    height: 475px;
    transform: skew(-20deg);
    background: #373B4D;
    left: 46%;
}

/*============================== CAROUSSEL ==============================*/

.slider{
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 262px;
    height: 100%;
    left: 37%;
}


#precedent,
#suivant {
    cursor: pointer;
    transition: opacity 0.3s ease;
    opacity: 0;
    position: absolute;
    font-size: 50px;
    color: #D8EBF0;
    background-color: #373B4D;
    padding: 10px;
    border-radius: 10px;
}

#precedent {
    left: 0;
}

#suivant {
    right: 0;
}

#slider:hover #precedent,
#slider:hover #suivant {
    opacity: 0.7;
}

/*============================== CHOISIR ==============================*/

.choisir{
    display: flex;
    height: 25%;
    width: 100%;
}

.choisirlogodistribatcontainer{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: white;
    max-height: 100%;
    width: 47%;
    border-radius: 20px;
    left: 5%;
}

.choisirlogodistribat{
    position: relative;
    max-width: 80%;
    max-height: 100%;

}

.parachoisir{
    position: absolute;
    width: 185px;
    height: 475px;
    transform: skew(20deg);
    background: #373B4D;
    left: 46%;
}

.choisirtextecontainer{
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    left: 13%;
    height: 100%;
    width: 40%;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-style: italic;
}

.choisirtitre{
    color: #13A9DD;
    text-decoration-line: underline;
    font-size: 45px;
    font-weight: bold;
}

.choisirtexte{
    font-size: 22px;
    text-align: left;
    width: 85%;
}

/*============================== CERTIFICATION ==============================*/

.certification{
    display: flex;
    height: 25%;
    width: 100%;
    align-items: center;
}

.certificationtextecontainer{
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    left: 5%;
    width: 38%;
    height: 100%;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-style: italic;
}

.certificationtitre{
    color: #13A9DD;
    text-decoration-line: underline;
    font-size: 40px;
    font-weight: bold;
}

.certificationtexte{
    font-size: 20px;
    width: 92%;
}

.paracertification{
    position: absolute;
    width: 190px;
    height: 475px;
    transform: skew(20deg);
    background: #373B4D;
    left: 45%;
}

.certificationlogodistribatcontainer{
    position: relative;
    background: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 44%;
    border-radius: 20px;
    left: 13%;
}

.certificationlogoRGE{
    position: relative;
    max-width: 100%;
    width: 35%;
}

/*============================== RGE ==============================*/

.RGEcontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    display: block;
    height: 1050px;
    width: 100%;
    top: 210px;
    background-color: #373B4D;
    text-align: center;
    font-family: 'Inter', sans-serif;
}

.RGEtitre{
    position: relative;
    top: 13%;
    color: aliceblue;
    font-size: 50px;
}

.RGErectangle{
    position: relative;
    width: 40%;
    height: 2%;
    background: #13A9DD;
    top: 17%;
    left: 29.5%;
}

.RGEcasescontainer{
    position: relative;
    display: flex;
    justify-content: space-between;
    left: 4.5%;
    top: 28%;
    width: 90%;
    height: 65%;
}

.RGEcases{
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    border-radius: 20px;
    max-width: 500px;
    width: 30%;
    height: 70%;
    background: #13A9DD;
}

.RGEcasestexte{
    position: relative;
    font-size: 175%;
    font-weight: bold;
    font-style: italic;
    color: aliceblue;
    margin: 50px;
    text-align: center;
}

/*============================== REJOINDRE ==============================*/

.rejoindrebg{
    position: relative;
    background: #D8EBF0;
    top: 210px;
    width: 100%;
    height: 850px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rejoindrecontainer{
    display: flex;
    position: relative;
    padding-top: 3%;
    padding-bottom: 3%;
    height: 600px;
    max-width: 1750px;
    width: 90%;
    top: -100px;
    background-color: #D8EBF0;
    border-radius: 100px;
    border: solid 44px white;
}

.rejoindre{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.imgrejoindre{
    position: relative;
    left: 2%;
    max-width: 100%;
    width: 45%;
    border-radius: 10px;
}

.pararejoindre{
    position: relative;
    width: 170px;
    height: 600px;
    right: 50px;
    transform: skew(-15deg);
    background: #373B4D;
}

.rejoindretextecontainer{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 30%;
    left: 1%;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-style: italic;
}

.rejoindretitre{
    color: #13A9DD;
    text-decoration-line: underline;
    font-size: 50px;
    font-weight: bold;
}

.rejoindretexte{
    font-size: 23px;
}

.rejoindrebouton{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    height: 50px;
    background: #13A9DD;
    color: aliceblue;
    font-size: 20px;
    border-radius: 10px;

}

/*============================== RESPONSIVE ==============================*/



@media (max-width: 1666px){

    
    .choisirtitre{
        font-size: 45px;
        top: 5%;
    }
    
    .choisirtexte{
        font-size: 20px;
        width: 75%;
    }
}

@media (max-width: 1596px){

    .choisirtitre{
    font-size: 40px;
    }
}

@media (max-width: 1486px){

    .choisirtexte{
        font-size: 20px;
        width: 70%;
    }

    .RGEcasestexte{
        font-size: 20px;
    }
    .RGEcases{
        position: relative;
        top: 5%;
        height: 55%;
    }

}

@media (max-width: 1425px){
    .para{
        display: none;
    }

    .historique{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .imghistorique{
        width: 45%;
        left: 0;
        top: 0;
    }
    
    .historiquetextecontainer{
        top: 0;
        left: 0;
    }

    .equipe{
        justify-content: space-around;
    }

    .equipetextecontainer{
        left: 0;
    }
    
    .equipetitre{
        color: #13A9DD;
        text-decoration-line: underline;
        font-size: 50px;
        font-weight: bold;
    }

    .slider{
        left: 0;
        transform: scale(0.9);
    }
    

    .choisir{
        justify-content: space-around;
    }
    
    .choisirlogodistribatcontainer{
        left: 0;
        transform: scale(0.85);
    }

    .parachoisir{
        left: 0;
    }
    
    .choisirtextecontainer{
        left: 0;
    }
    
    .certification{
        justify-content: space-around;
    }
    
    .certificationtextecontainer{
        left: 0;
    }

    .certificationlogodistribatcontainer{
        left: 0;
        
        transform: scale(0.85);
    }

    .rejoindre{
        justify-content: space-around;
    }
    
    .imgrejoindre{
        left: 0;
    }
    
    .rejoindretextecontainer{
        left: 0;
        width: 50%;
    }
}
