
.footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 150px;
}

.overflow-contact {
    height: 150px;
    overflow: hidden;
}

.menufootercontact {
    width: 100%;
    height: 500px;
    background: #373B4D;
    transition: transform 0.3s ease, border-radius 0.3s ease;  
}

.menufootercontact:hover {
    transform: translateY(-350px);
    border-radius: 15px 15px 0 0;
}



.overflow-devis{
    height: 150px;
    overflow: hidden;
}

.menufooterdevis{
    width: 100%; 
    height: 500px;
    background: #13A9DD;
    transition: transform 0.3s ease, border-radius 0.3s ease;   
}

.menufooterdevis:hover {
    transform: translateY(-350px);
    border-radius: 15px 15px 0 0;
}

.footer-title{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 20px;
    font-family: 'annapolis';
    color: aliceblue;
}

.locaux-t{
    color: #13A9DD;
}

.footer-underline{
    width: 30%;
    height: 10px;
}

.contact-u{
    background-color: #13A9DD;
}
.locaux-u{
    background-color: #373B4D;
}
.devis-u{
    background-color: aliceblue;
}


.footer-contact-description{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 420px;
}

.footer-contact-tel {
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menufootercontact:hover .tel-text{
    opacity: 1;
}

.menufootercontact:hover .tel-img{
    opacity: 1;
}

.tel-text {
    opacity: 0;
    margin-right: 80px;
    transition: opacity 0.3s ease;
    color: aliceblue;
    font-family: 'inter', sans-serif;
    font-size: 23px;
    font-style: italic;
}

.tel-img{
    width: 100px;
    height: 50px;
    opacity: 0;
}


.footer-contact-mail{
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-contact-reseau{
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.overflow-locaux{
    height: 150px;
    overflow: hidden;
}

.menufooterlocaux{
    width: 100%;
    height: 500px;
    background: aliceblue;    
    transition: transform 0.3s ease, border-radius 0.3s ease;    
}

.menufooterlocaux:hover {
    transform: translateY(-350px);
    border-radius: 15px 15px 0 0;
}

.siege-social{
    opacity: 0;
    padding-left: 10px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: baseline;
    width: 100%;
    height: 50px;
    transition: opacity 0.3s ease;
}

.menufooterlocaux:hover .siege-social{
    opacity: 1;
}

.home-img{
    width: 40px;
    height: 40px;
}

.siege-social-txt{
    margin-bottom: 25px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    color: #373B4D;
    font-family: 'inter', sans-serif;
}

.siege-social-title{
    width: fit-content;
    height: 30px;
}
.siege-social-lieu{
    width: fit-content;
    height: 30px;
}