@font-face {
	font-family: 'annapolis';
	src: url('/police/Annapolis.ttf') format('truetype');
}
body{
    margin: 0;
}


.nav-info {
    position: fixed;
    width: 100%;
    height: 150px;
    top: 0;
    left: 0;
    z-index: 99;
    background-color: #373B4D;
    border-radius: 0 0 50px 50px;    
    display: flex;
    align-items: center;
    justify-content: space-between;
    animation: rangedown 1s ease-in-out;
}

.nav-logo img {
    transition: all 1s ease-in-out;
    margin: 15px;
    height: 120px;
    border-radius: 0 50px 0 50px;
}

.nav-menu {
    align-items: center;
    justify-content: space-between;
    display: flex;
    width: 70%;
    height: 50px;
    margin: 50px;
    font-size: 20px;
    font-family: 'annapolis';
}

.nav-menu a {
    color: aliceblue;
    text-decoration: none;
    transition: color 0.3s ease-in-out, font-size 0.3s ease-in-out;
}

.nav-menu a.active {
    color: #13a9dd;
    font-size: 18px;
}


.nav-info.scrolled-info {
    height: 50px;
    animation: range 1s ease-in-out;
}

@keyframes range {
    0%{
        height: 150px;
    }
    100%{
        height: 50px;
    }
}

@keyframes rangedown {
    0%{
        height: 50px;
    }
    100%{
        height: 150px;
    }
}

.nav-logo img {
    transition: opacity 0.3s ease-in-out; 
}

.nav-info.scrolled-info .nav-logo img {
    opacity: 0;
}


.nav-info .logo-text {
    position: absolute;
    top: 15px;
    left: 55px;
    color: #13a9dd; /* Couleur du texte */
    font-size: 20px;
    font-weight: bold;
    font-family: 'annapolis';
    transform: scale(0);
    transition: transform 0.5s ease-in-out;
}

.nav-info.scrolled-info .logo-text {
    transform: scale(1);
}

@media (max-width:1500px) {
    .nav-menu{
        font-size: 16px;
    }
}

@media (max-width:1200px) {
    .nav-info{
        justify-content: left;
    }
    .nav-menu{
        margin: 0;
    }
}

@media (max-width:1000px) {
    .nav-menu{
        font-size: 13px;
        width: 65%;
    }
}