@font-face {
	font-family: 'annapolis';
	src: url('/police/Annapolis.ttf') format('truetype');
}
body{
    margin: 0;
}

.nav-main{
    overflow: hidden;
}

.blue{
    font-size: 22px;
    color: #13a9dd !important;
}

/* Styles pour la barre de défilement */
::-webkit-scrollbar {
    width: 8px; /* Épaisseur de la barre de défilement */
    background-color: #f1f1f1; /* Couleur de fond de la barre de défilement */
  }
  
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(135deg, #404040, #6b6b6b); /* Dégradé de gris foncé */
    border-radius: 4px; /* Coins arrondis */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(135deg, #363636, #606060); /* Dégradé de gris foncé au survol */
  }
  
  ::-webkit-scrollbar-thumb:active {
    background: linear-gradient(135deg, #2d2d2d, #545454); /* Dégradé de gris foncé au clic */
  }
  
  /* Styles pour les coins arrondis du track (piste) de défilement */
  ::-webkit-scrollbar-track {
    border-radius: 4px; /* Coins arrondis */
  }

.nav-info {
    position: fixed;
    width: 100%;
    height: 150px;
    top: 0;
    left: 0;
    z-index: 99;
    background-color: #373B4D;
    border-radius: 0 0 50px 50px;    
    display: flex;
    align-items: center;
    justify-content: space-between;    
    transition: height 0.3s ease-in-out;
}

.logo-text {
    padding: -10px; /* Augmenter la taille de la hitbox avec un padding */
  }

.nav-logo img {
    transition: all 1s ease-in-out;
    margin: 15px;
    height: 120px;
    border-radius: 0 50px 0 50px;
}

.nav-menu {
    align-items: center;
    justify-content: space-between;
    display: flex;
    width: 70%;
    height: 50px;
    margin: 50px;
    font-size: 20px;
    font-family: 'annapolis';
}

.nav-menu a {
    color: aliceblue;
    text-decoration: none;
    transition: color 0.3s ease-in-out, font-size 0.3s ease-in-out;
}

.nav-menu a.active {
    color: #13a9dd;
    font-size: 18px;
}

.nav-menu a:hover{
    color: #13a9dd;
    font-size: 22px;
}


.nav-info.scrolled-info {
    height: 50px;
    
}

.nav-info.animation-enabled {
    height: 150px;
  }
  
  .nav-info.scrolled-info.animation-enabled {
    transition: height 0.3s ease-in-out;
    height: 50px;
  }
  
  .nav-menu.scrolled-menu {
    transition: transform 0.3s ease-in-out;
    transform: translateY(0);
  }

.nav-logo img {
    transition: opacity 0.3s ease-in-out; 
}

.nav-info.scrolled-info .nav-logo img {
    opacity: 0;
}


.nav-info .logo-text {
    position: absolute;
    top: 15px;
    left: 55px;
    color: #13a9dd; /* Couleur du texte */
    font-size: 20px;
    font-weight: bold;
    font-family: 'annapolis';
    transform: scale(0);
    transition: transform 0.3s ease-in-out;
}

.nav-info.scrolled-info .logo-text {
    transform: scale(1);
}

.nav-toggler{
    display: none;
    position: fixed;
    width: 40px;
    height: 40px;
    z-index: 100;
    padding: 25px;
}

@media (max-width:1500px) {
    .nav-menu{
        font-size: 16px;
    }
}

@media (max-width:1200px) {
    .nav-info{
        justify-content: left;
    }
    .nav-menu{
        margin: 0;
    }
    
    .blue{
        font-size: initial;
    }
}

@media (max-width:1000px) {
    .nav-menu{
        font-size: 13px;
        width: 65%;
    }
}

@media (max-width: 850px){
    .nav-logo img{
        display: none;
    }
    .logo-text{
        display: none;
    }
    .nav-menu{
        margin-left: 0;
        justify-content: space-evenly;
        width: 100%;
    }
}

@media (max-width: 580px){
    .nav-info.scrolled-info {        
        display: none;
        height: 150px;
        width: 100%;
    }
    .nav-info {
      transition: transform 0.5s ease;
    }
    
    .nav-info.toggled {
      transform: translateY(0);
      animation: none;
      display: inherit;
    }
    .nav-menu{
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        height: 100%;
    }
    .nav-toggler{
        display: inherit;
    }
    .nav-toggler.toggled{
        z-index: 100;
    }
}
