@font-face {
	font-family: 'annapolis';
	src: url('/police/Annapolis.ttf') format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
    /* border: dashed 1px red; */
}

body{
    margin: 0;
    height:3600px;
}

html{
    overflow-x: hidden;
}

.bleu {
    color:#13A9DD ;
}

/* Styles pour la barre de défilement */
::-webkit-scrollbar {
    width: 8px; /* Épaisseur de la barre de défilement */
    background-color: #f1f1f1; /* Couleur de fond de la barre de défilement */
  }
  
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(135deg, #404040, #6b6b6b); /* Dégradé de gris foncé */
    border-radius: 4px; /* Coins arrondis */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(135deg, #363636, #606060); /* Dégradé de gris foncé au survol */
  }
  
  ::-webkit-scrollbar-thumb:active {
    background: linear-gradient(135deg, #2d2d2d, #545454); /* Dégradé de gris foncé au clic */
  }
  
  /* Styles pour les coins arrondis du track (piste) de défilement */
  ::-webkit-scrollbar-track {
    border-radius: 4px; /* Coins arrondis */
  }

/*========== BANNIERE ===========*/

.banniere-block{
    position: absolute;
    top: 0;
    height: 3800px;
    width: 100%;
    background: linear-gradient(#13A9DD 80%, #d8ebf0 20%);
    text-align: center;
}

.banniere-texte{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 175px;
    width: 100%;
    height: 100px;
    color: aliceblue;
    font-family: 'annapolis';    
}

.banniere-titre{
    font-weight: initial;
    font-size: 40px;    
}

/*========== BANNIERE ===========*/

/* ====CENTER==== */

.centering-contaner-global{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


/* ====CENTER==== */



/*======= CAROUSSEL INDEX =========*/

.index-caroussel {
    position: relative;
    display: flex;
    flex-direction: column;
    top: 300px;
    height: 600px;
    width: 100%;
    background: #373b4d;
    z-index: 1;
    overflow-x: hidden;
}

.container-caroussel{
    position: relative;
    top: 0;
    width: 100%;
    height: 400px;
    margin-top: 20px;
    background: url('../photo/carousselbg.png');
    background-repeat: round;
}

/*======= CAROUSSEL INDEX =========*/

/*======= PARALLELOGRAME INDEX =========*/

.parallelogram {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
	width: 200px;
	height: 400px;
	transform: skew(-15deg);
	background: #373b4d;
    margin-top: 20px;
    left: 60%;
    transition: opacity 0.1s ease;
}

.parallelogram-block-texte {
    position: relative;
    width: 90%;
    height: 30px;
    text-align: center;
    color: aliceblue;
    font-family: "annapolis";
    font-size: 20px;
}

.separateur {
    width: 50%;
    height: 10px;
    background-color: #13A9DD;
}


.responsive-texte{
    opacity: 0;
    height: fit-content;
    width: 100%;
    text-align: center;
    color: aliceblue;
    font-family: "annapolis";
    font-size: 18px;
    transition: opacity 1s ease;
}

/*======= PARALLELOGRAME INDEX =========*/

/*======= PRESTATION =========*/

.prestation-container{
    z-index: 90;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 450px;
    width: 90%;
    top: 140px;
    background-color: #D8EBF0;
    border-radius: 100px;
    border: solid 44px white;  
}

.prestation-title{
    opacity: 0;
    text-align: center;
    position: relative;
    width: 100%;
    height:50px;
    color: #373b4d;
    font-family: "annapolis";  
    font-size: 30px;  
    margin-top: 20px;
    animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
    0% {
      opacity: 0; /* Début de l'animation avec une opacité de 0 */
      transform: translateY(-20px); /* Déplacer le titre vers le haut de 20 pixels */
    }
    100% {
      opacity: 1; /* Fin de l'animation avec une opacité de 1 */
      transform: translateY(0); /* Retourner le titre à sa position initiale */
    }
  }

.prestations-block{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height:200px;
    margin-bottom: 50px;
    padding-bottom: 40px;    
    
}

.prestation-cartes-1,
.prestation-cartes-2,
.prestation-cartes-3,
.prestation-cartes-4{
    width: 270px;
    height: 300px;
    perspective: 2000px;
    perspective-origin: top;
    transform-style: preserve-3d;
    transition: transform 0.8s cubic-bezier(0.86,0,0.07,1); 
}

.prestation-cartes-1:hover{
    transform: rotateY(180deg);
}
.prestation-cartes-2:hover{
    transform: rotateY(180deg);
}
.prestation-cartes-3:hover{
    transform: rotateY(180deg);
}
.prestation-cartes-4:hover{
    transform: rotateY(180deg);
}

.clicked {
    transform: rotateY(180deg);
}
  

.prestation-cartes-face{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 300px;
    background-color: #373b4d;
    border-radius: 10px;    
}

.prestation-cartes-face,.prestation-cartes-back{    
    -webkit-backface-visibility: hidden;
}

.prestation-cartes-back{
    position: absolute;
    text-align: center;
    transform: rotateY(180deg);
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 300px;
    font-family: 'inter', sans-serif;
    background-color: #373b4d;
    border-radius: 10px;
    font-style: italic;
    font-weight: bold;
}

.prestation-image {
    margin-top: 15px;
    overflow: hidden;
    width: 90%;
    height: 71%;
}

.prestation-image img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.prestation-texte{
    text-align: center;    
    height: 35px;
    width: 100%;
    color: aliceblue;
    font-family: "annapolis";
    font-size: 15px;
    margin-bottom: 17.5px;
}

/*========== PRESENTATION ===========*/

.presentation-container{
    z-index: 90;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    height: 500px;
    width: 90%;
    top: 200px;
    background-color: #D8EBF0;
    border-radius: 100px;
    border: solid 44px white;  
}

.presentation-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 450px;
    width: 80%;
    margin-top: 50px;
}

.block-gris {
    transform: scale(0);
    transition: transform 1.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 30%;
    height: 50px;
    background-color: #373b4d;
    color: aliceblue;
    font-family: "annapolis";
    font-size: 17px;
    border-radius: 10px;    
    flex: 1 0 200px;
    margin: 5px;
}

.presentation-block-gris{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    flex-wrap: wrap; /* Ajout de cette ligne */
}

.presentation-texte1{
    opacity: 0;
    transform: translateY(50px);
    transition: transform 1s ease, opacity 0.5s ease;
    width: 90%;
    height: 30%;
    color: black;
    font-family: 'inter', sans-serif;
    font-size: 20px;
    text-align: center;
}
.presentation-texte2{
    opacity: 0;
    transform: translateY(50px);
    transition: transform 1s ease, opacity 0.5s ease;
    width: 50%;
    height: 10%;
    color: black;
    font-family: 'inter', sans-serif;
    font-size: 15px;
    text-align: center;
    padding-bottom: 20px ;
}

.presentation-texte2 .b{
    color: #13A9DD;
}

.presentation-boutton-devis{
    transform: translateY(50px);
    transition: transform 1s ease, opacity 0.5s ease;
    width: 40%;
    height: 50px;
    display: flex;
    justify-content: center;
}

.button-devis:hover{
    transform: scale(1.1);
}

.button-devis{
    transition: transform 0.2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: #13A9DD;
    color: aliceblue;
    font-family: "annapolis";
    font-size: 20px;
    border-radius: 10px;
}

/*  animation  */

.block-gris.animate{
    transform: scale(1);
}

.presentation-texte1.animate{
    transform: translateY(0px);
    opacity: 1;
}
.presentation-texte2.animate{
    transform: translateY(0px);
    opacity: 1;
}

.presentation-boutton-devis.animate{
    transform: translateY(0px);
    opacity: 1;
}
/*  animation  */

/*=================== TRANSITION CONTACT =====================*/

.transi-contact-container {
    position: relative;
    top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 400px;
    background-color: #373b4d;
    font-style: italic;
    font-weight: bold;
  }
  
  .transi-contact-gauche,
  .transi-contact-droite {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    height: 200px;
    padding: 50px;
  }
  
  .transi-contact-droite {
    align-items: start;
    padding-left: 0;    
  }

.transi-center{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 20px;
}

.transi-contact-texteG1,
.transi-contact-texteG2,
.transi-contact-texteD{
    color: aliceblue;
    font-family: "inter", sans-serif;
    font-size: 20px;
}



.transi-contact-texteD{
    width: fit-content;
    font-size: 20px;

}

.transi-contact-btn-block{
    position: relative;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.transi-contact-btn{
    transition: transform 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 30px;
    background-color: #13A9DD;
    border-radius: 5px;
    color: aliceblue;
    font-family: "inter", sans-serif;
    font-style: italic;
    font-weight: bold;
}

.transi-contact-btn:hover{
    transform: scale(1.2);
}


/*================= LES PRIORITE DE DITRIBAT =======================*/

.priorite-container{
    z-index: 90;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 550px;
    width: 90%;
    top: 20px;
    background-color: #D8EBF0;
    border-radius: 100px;
    border: solid 44px white;
}

.priorite-title {
  width: auto;
  height: 30px;
  color: #373b4d;
  font-size: 30px;
  font-style: italic;
  font-weight: bold;
  font-family: "annapolis";
  position: relative;
}

/* animation */

.priorite-title::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #373b4d;
  transform: scaleX(0);
  transform-origin: left center;
  transition: transform 1.5s ease-in-out;
}

.priorite-title.animate::after {
  transform: scaleX(1);
}
  
/* animation */

.priorite-block-content{
    width: 90%;
    height: 450px;
    display: flex;
}



.priorite-block-textG{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
    border-right: 3px solid #373b4d;
}

.priorite-block-textD{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 50%;
}

.priorite-block-title{
    color: #373b4d;
    font-family: "annapolis";
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
}

.priorite-block-textDo,
.priorite-block-textGa{
    text-align: center;
    padding: 15px;
    width: 90%;
    height: 400px;
    margin-top: 15px;
    color: #373b4d;
    font-family: "inter", sans-serif;
    font-weight: 100;
}

.priorite-block-textD{
    position: relative;
    height: 100%;
    width: 50%;    
}



/* animation */

.priorite-block-textDo,
.priorite-block-textGa{
    opacity: 0;
    transition: opacity 1s ease, transform 1.5s ease;
}

.priorite-block-textGa{    
    line-height: 40px;    
    font-size: 23px;
    transform: translateX(-100px);
}

.priorite-block-textDo{     
    line-height: 30px;
    font-size: 20px;
    transform: translateX(100px);
}

.priorite-block-textGa.animate{
    transform: translateX(0px);
    opacity: 1;
}

.priorite-block-textDo.animate{
    transform: translateX(0px);
    opacity: 1;
}

/* animation */

/*==================== TRANSITION CONSEIL =========================*/

.transi-conseil-container{
    position: relative;
    top: -50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 450px;
    background-color: #373b4d;    
    font-style: italic;
    font-weight: bold;
}

.transi-conseil-check img{
    padding-right: 400px;
    margin-top: 50px;
    height: 80px;
    width: 100px;
}

.transi-conseil-text{
    padding-left: 200px;
    color: aliceblue;
    font-family: "inter", sans-serif;
    font-size: 25px;
    margin-bottom: 50px;
    line-height: 40px;
    width: 70%;
    text-align: center;
}

/*================== Le Mot Du Gérant ======================*/

.gerant-container{
    z-index: 90;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 90%;
    top: -150px;
    background-color: #D8EBF0;
    border-radius: 100px;
    border: solid 44px white;
}

.gerant-element{
    width: 96%;
    height: 450px;
    display: flex;
    transform: translateY(-20px);
    opacity: 0;
    transition: opacity 1s ease-in-out, translate 1s ease;
    margin-bottom: 40px;
}

.gerant-element.animate{
    transform: translateY(20px);
    opacity: 1;
}

.gerant-logo{
    overflow: hidden;
    width: 50%;
    height: 100%;
    border-radius: 50px;
}

.gerant-logo img{
    object-fit: scale-down;
    width: 100%;
    height: 100%;
    border-radius: 50px;
}

.gerant-quote{
    width: 5%;
    height: 10%;
}

.gerant-quote img{
    width: 100%;
    height: 100%;    
    object-fit: contain;
    transform: rotate(-20deg);
    margin-top: 50px;
    padding-left: 50px;
}

.gerant-texte-block{
    width: 45%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.gerant-title{
    position: relative;
    color: #373b4d;
    font-family: "annapolis";
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
}

.gerant-title::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #373b4d;
  transform: scaleX(0);
  transform-origin: left center;
  transition: transform 1.5s ease-in-out;
}

.gerant-title.animate::after {
  transform: scaleX(1);
}

.gerant-texte{
    text-align: center;
    height: 400px;
    margin-top: 15px;
    margin: 0 25px;
    color: #373b4d;
    font-family: "inter", sans-serif;
    font-size: 20px;
    line-height: 35px;
}
.footer-wrapper {
    position: relative;
    top: -100px;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
  }

@media (max-width: 1500px){
    .parallelogram,
    .container-caroussel{
        height: 350px;
        margin-top: 50px;
    }
    .prestations-block{
        width: 95%;
    }

    .banniere-texte{
        top: 50px;
    }
    .banniere-block{
        height: 3500px;
    }

    .index-caroussel{
        top: 150px;
    }

    .presentation-container{
        top: 25px;
    }
    .prestation-container{
        top: 0px;
    }
    
    .priorite-container{
        top:-100px;
    }
    .transi-contact-container{
        top: -50px;
    }

    .transi-conseil-container{
        top: -175px;
    }

    .gerant-container{
        top: -250px;
    }
    
    .prestation-cartes-1,
    .prestation-cartes-2,
    .prestation-cartes-3,
    .prestation-cartes-4{
        transform: scale(0.8);
    }

    .priorite-block-textDo{
        font-size: 18px;
    }

    .gerant-texte{
        line-height: 25px;
    }

    .footer-wrapper{
        top: -150px;
    }
    
}

@media (max-width: 1300px){
    .priorite-block-textDo{
        font-size: 16px;
    }
    .gerant-container,
    .priorite-container,
    .presentation-container,
    .prestation-container{
        border: solid 21px white;
    }
}

@media (max-width: 1200px){
    body{        
        height:3600px;
    }
    .block-gris{
        font-size: 14px;
    }
    .presentation-block-gris{
        margin: 0 15px;        
        width: 95%;
    }
    .presentation-flex{
        width: 100%;
    }
    .priorite-block-textDo{
        font-size: 14px;
    }

    .priorite-block-textGa{
        font-size: 18px;
    }

    .transi-conseil-text{
        padding-left: 15px;
    }
    .transi-conseil-check img{
        padding-right: 15px;
    }
    .footer-wrapper{
        position: relative;
        height: 270px;
        top: -200px;
    }
}

@media (max-width: 1150px){
    .parallelogram,
    .container-caroussel{
        height: 250px;
        margin-top:100px;
    }
    .parallelogram{
        width: 150px;
    }
    .parallelogram-block-texte{
        font-size: 14px;
    }
    
    .gerant-quote{
        display: none;
    }
}

@media (max-width: 1060px){
    .priorite-block-textDo{
        font-size: 13px;
    }

    .priorite-block-textGa{
        font-size: 16px;
    }

    .gerant-texte-block{
        width: 100%;
    }
}

@media (max-width: 1000px){

    .transi-contact-droite{
        width: 30%;
    }

    .transi-contact-gauche{
        padding: 50px 0 0 50px;
        width: 70%;
        justify-content: space-around;
    }
    .transi-contact-gauche p{
        margin: 0 15px;
    }

    .transi-contact-texteG1,
    .transi-contact-texteG2,
    .transi-contact-texteD{
    font-size: 16px;
    }

    .transi-contact-btn-block{
        width: 100%;
        margin-top: 30px;
    }

    .gerant-logo img{
        transform: scale(1.2);
    }
}

@media (max-width: 970px){
    .priorite-block-textDo{
        font-size: 12px;
    }

    .priorite-block-textGa{
        font-size: 16px;
    }
}

@media(max-width:910px){
    .footer-wrapper{
        height: 400px;
    }
}

@media (max-width: 900px){
    .container-caroussel{
        height: 200px;
        margin-top:15px;
    }
    .parallelogram{
        opacity: 0;
    }
    .responsive-texte{
        opacity: 1;
    }
    .prestation-container{
        height: 800px;
        top: -150px;
    }
    .prestations-block{
        height: 800px;
        margin-top: 25px;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .prestation-cartes-1,
    .prestation-cartes-2,
    .prestation-cartes-3,
    .prestation-cartes-4{
        transform: scale(0.9);
    }

    .presentation-texte1{
        font-size: 18px;
    }

    .presentation-container{
        top: -100px;
    }

    .transi-contact-container{
        top: -230px;
    }

    .priorite-block-textDo{
        font-size: 12px;
        line-height: 25px;
    }

    .priorite-block-textGa{
        font-size: 16px;
        line-height: 35px;
    }

    .priorite-container{
        top: -300px;
    }

    .transi-conseil-container{
        top:-400px;
    }

    .gerant-container{
        top: -500px;
    }

    .gerant-logo img{
        transform: scale(1.45);
    }

    .banniere-block{
        height: 3700px;
    }

    .footer-wrapper{
        top: -400px;
    }

}

@media (max-width:830px){
    .transi-conseil-text{
        font-size: 20px;
    }
}

@media (max-width:800px){
    .block-gris{
        font-size: 12px;
    }
}

@media (max-width: 750px){
    .presentation-texte2{
        width: 95%;
        font-size: 12px;
    }

    .presentation-texte1{
        width: 95%;
        font-size: 14px;
    }

    .button-devis{
        font-size: 17px;
    }

    .transi-contact-texteD{
        display: none;
    }

    .transi-contact-btn-block{
        height: 100%;
        flex-direction: column;
    }

    .priorite-block-textDo{
        line-height: 20px;
    }

    .priorite-block-textGa{
        line-height: 30px;
    }

    .gerant-logo{
        display: none;
    }
}

@media(max-width:695px){
    .presentation-block-gris{
        height: auto;
        left: 0;
    }
    .presentation-texte1,
    .presentation-texte2{
        margin: 0 15px;
    }
}

@media (max-width: 645px){
    .presentation-texte2{
        font-size: 12px;
        height: auto;
        margin-top: 15px;
    }
    .prestation-cartes-1,
    .prestation-cartes-2,
    .prestation-cartes-3,
    .prestation-cartes-4,
    .prestation-cartes-face,
    .prestation-cartes-back{
        width: 214px;
        height: 240px;
        padding: 0;
    }

    .priorite-block-textDo{
        font-size: 14px;
        line-height: normal;
    }

    .priorite-block-textGa{
        font-size: 16px;
        line-height: normal;
    }
    .priorite-title {
        font-size: 25px;
    }
    .priorite-block-title{
        font-size: 15px;
    }

    .transi-conseil-check{
        display: none;
    }
    .transi-conseil-text{
        width: 100%;
        margin: 15px;
        padding: 0;
    }
}

@media (max-width:608px){
    .footer-wrapper{
        height: 550px;
    }
}

@media (max-width:600px){
    .priorite-container{
        height: 750px;
        justify-content: inherit;
    }
    .priorite-block-content{
        margin-top: 50px;
        height: fit-content;
    }
    .priorite-title{
        margin-top: 50px;
    }
    .priorite-block-textGa{
        height: 500px;
    }
    .banniere-block{
        height: 4200px;
    }
}

@media (max-width:520px){
    .priorite-title{
        font-size: 20px;
    }
    .priorite-block-title{
        font-size: 13px;
    }
}

@media (max-width:500px) {
    .prestation-container{
        height: 1100px;
        justify-content: inherit;
    }
    .gerant-title{
        text-align: center;
    }
    .banniere-block{
        height: 4500px;
    }
}

@media (max-width: 460px){
    .gerant-texte{
        line-height: 25px;
        font-size: 15px;
    }
}


@media (max-width: 450px) {
    .presentation-block-gris{
        width: 250px;
    }
    .priorite-block-textDo{
        font-size: 12px;
    }
    .priorite-container{
        height: 650px;
    }
    .priorite-block-textGa{
        height: 400px;
    }
    .presentation-texte1{
        font-size: 12px;
    }
}

@media (max-width:420px){
    .priorite-block-textDo{
        padding-top: 0;
        font-size: 11px;
    }
    .priorite-block-textGa{
        padding-top: 0;
        font-size: 14px;
    }
}

@media (max-width: 403px){
    .transi-contact-droite{
        margin: 50px 5px;
    }
    .transi-contact-gauche{
        margin: 50px 5px;
    }
}

@media (max-width: 390px){
    .priorite-block-textGa,
    .priorite-block-textDo{
        padding-top: 0;
        margin-top: 0;
    }

}

@media (max-width: 380px){

}
