@font-face {
	font-family: 'annapolis';
	src: url('/police/Annapolis.ttf') format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body{
    margin: 0;
    height: 2500px;
}

.bleu {
    color:#13A9DD ;
}

/* Styles pour la barre de défilement */
::-webkit-scrollbar {
    width: 8px; /* Épaisseur de la barre de défilement */
    background-color: #f1f1f1; /* Couleur de fond de la barre de défilement */
  }
  
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(135deg, #404040, #6b6b6b); /* Dégradé de gris foncé */
    border-radius: 4px; /* Coins arrondis */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(135deg, #363636, #606060); /* Dégradé de gris foncé au survol */
  }
  
  ::-webkit-scrollbar-thumb:active {
    background: linear-gradient(135deg, #2d2d2d, #545454); /* Dégradé de gris foncé au clic */
  }
  
  /* Styles pour les coins arrondis du track (piste) de défilement */
  ::-webkit-scrollbar-track {
    border-radius: 4px; /* Coins arrondis */
  }

/*========== BANNIERE ===========*/

.banniere-block{
    position: absolute;
    top: 0;
    width: 100%;
    height: 3950px;
    background: linear-gradient(#13A9DD 80%, #d8ebf0 20%);
    text-align: center;
}

.banniere-texte{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 175px;
    width: 100%;
    height: 100px;
    color: aliceblue;
    font-family: 'annapolis';    
}

.banniere-titre{
    font-weight: initial;
    font-size: 40px;    
}

/*========== BANNIERE ===========*/

/*======= CAROUSSEL INDEX =========*/

.index-caroussel {
    position: relative;
    display: flex;
    top: 300px;
    height: 600px;
    width: 100%;
    background: #373b4d;
    z-index: 1;
    overflow-x: hidden;
}

.container-caroussel{
    position: relative;
    top: 0;
    width: 100%;
    height: 400px;
    margin-top: 20px;
    background: url('../photo/carousselbg.png');
    background-repeat: round;
}

/*======= CAROUSSEL INDEX =========*/

/*======= PARALLELOGRAME INDEX =========*/

.parallelogram {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
	width: 200px;
	height: 400px;
	transform: skew(-15deg);
	background: #373b4d;
    margin-top: 20px;
    left: 60%;
}
.parallelogram-block-text,
.parallelogram-block-texte,
.parallelogram-block-textes {
    opacity: 0;
    position: relative;
    width: 90%;
    height: 30px;
    text-align: center;
    color: aliceblue;
    font-family: "annapolis";
    font-size: 20px;
    transition: opacity 0.5s ease;
}

.separateur {
    width: 50%;
    height: 10px;
    background-color: #13A9DD;
}

/* animations */
.parallelogram-block-text {
    transition: opacity 0.5s ease;
    animation: late1 7s ease forwards;
}

.parallelogram-block-texte {
    transition: opacity 0.5s ease;
    animation: late2 7s ease forwards;
}

.parallelogram-block-textes {
    transition: opacity 0.5s ease;
    animation: late3 7s ease forwards;
}

@keyframes late1 {
    0% {
        opacity: 0;
    }
    1%{
        opacity: 0;
    }
    33% {
        opacity: 1;
    }
    66% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes late2 {
    0% {
        opacity: 0;
    }
    66% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes late3 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/* animation */

/*======= PARALLELOGRAME INDEX =========*/

/*======= PRESTATION =========*/

.prestation-container{
    z-index: 90;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 450px;
    width: 93%;
    left: 1%;
    top: 140px;
    background-color: #D8EBF0;
    border-radius: 100px;
    border: solid 44px white;  
}

.prestation-title{
    opacity: 0;
    text-align: center;
    position: relative;
    width: 25%;
    height:50px;
    color: #373b4d;
    font-family: "annapolis";  
    font-size: 30px;  
    margin-top: 20px;
    animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
    0% {
      opacity: 0; /* Début de l'animation avec une opacité de 0 */
      transform: translateY(-20px); /* Déplacer le titre vers le haut de 20 pixels */
    }
    100% {
      opacity: 1; /* Fin de l'animation avec une opacité de 1 */
      transform: translateY(0); /* Retourner le titre à sa position initiale */
    }
  }

.prestations-block{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height:200px;
    margin-bottom: 50px;
    padding-bottom: 40px;    
    
}

.prestation-cartes-1,
.prestation-cartes-2,
.prestation-cartes-3,
.prestation-cartes-4{
    width: 270px;
    height: 300px;
    perspective: 2000px;
    perspective-origin: top;
    transform-style: preserve-3d;
    transition: transform 0.8s cubic-bezier(0.86,0,0.07,1); 
}

.prestation-cartes-1:hover{
    transform: rotateY(180deg);
}
.prestation-cartes-2:hover{
    transform: rotateY(180deg);
}
.prestation-cartes-3:hover{
    transform: rotateY(180deg);
}
.prestation-cartes-4:hover{
    transform: rotateY(180deg);
}

.prestation-cartes-face{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 300px;
    background-color: #373b4d;
    border-radius: 10px;    
}

.prestation-cartes-face,.prestation-cartes-back{    
    -webkit-backface-visibility: hidden;
}

.prestation-cartes-back{
    position: absolute;
    text-align: center;
    transform: rotateY(180deg);
    color: aliceblue;
    padding-top: 100px;    
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 200px;
    font-family: 'inter', sans-serif;
    background-color: #373b4d;
    border-radius: 10px;
    font-style: italic;
    font-weight: bold;
}

.prestation-image {
    margin-top: 15px;
    overflow: hidden;
    width: 90%;
    height: 71%;
}

.prestation-image img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.prestation-texte{
    text-align: center;    
    height: 35px;
    width: 300px;
    color: aliceblue;
    font-family: "annapolis";
    font-size: 15px;
    margin-bottom: 17.5px;
}

/*========== PRESENTATION ===========*/

.presentation-container{
    z-index: 90;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    height: 500px;
    width: 93%;
    left: 1%;
    top: 200px;
    background-color: #D8EBF0;
    border-radius: 100px;
    border: solid 44px white;  
}

.presentation-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 450px;
    width: 80%;
    margin-top: 50px;
}

.block-gris{
    transform: scale(0);
    transition: transform 1.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 27%;
    height: 50px;
    background-color: #373b4d;
    color: aliceblue;
    font-family: "annapolis";
    font-size: 17px;
    border-radius: 10px;
}

.presentation-block-gris{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 70px;
}

.presentation-texte1{
    opacity: 0;
    transform: translateY(50px);
    transition: transform 1s ease, opacity 0.5s ease;
    width: 90%;
    height: 30%;
    color: black;
    font-family: 'inter', sans-serif;
    font-size: 20px;
    text-align: center;
}
.presentation-texte2{
    opacity: 0;
    transform: translateY(50px);
    transition: transform 1s ease, opacity 0.5s ease;
    width: 50%;
    height: 10%;
    color: black;
    font-family: 'inter', sans-serif;
    font-size: 15px;
    text-align: center;
    padding-bottom: 20px ;
}

.presentation-texte2 .b{
    color: #13A9DD;
}

.presentation-boutton-devis{
    transform: translateY(50px);
    transition: transform 1s ease, opacity 0.5s ease;
    width: 40%;
    height: 50px;
    display: flex;
    justify-content: center;
}

.button-devis:hover{
    transform: scale(1.1);
}

.button-devis{
    transition: transform 0.2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: #13A9DD;
    color: aliceblue;
    font-family: "annapolis";
    font-size: 20px;
    border-radius: 10px;
}

/*  animation  */

.block-gris.animate{
    transform: scale(1);
}

.presentation-texte1.animate{
    transform: translateY(0px);
    opacity: 1;
}
.presentation-texte2.animate{
    transform: translateY(0px);
    opacity: 1;
}

.presentation-boutton-devis.animate{
    transform: translateY(0px);
    opacity: 1;
}
/*  animation  */

/*=================== TRANSITION CONTACT =====================*/

.transi-contact-container{
    position: relative;
    top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 400px;
    background-color: #373b4d;    
    font-style: italic;
    font-weight: bold;
}

.transi-contact-gauche{
    position: relative;
    width: 50%;
    height: 200px;
}

.transi-contact-texteG1,
.transi-contact-texteG2,
.transi-contact-texteD{
    color: aliceblue;
    font-family: "inter", sans-serif;
    font-size: 20px;
    padding: 0 40px;
}

.transi-contact-texteG1,
.transi-contact-texteD{
    padding-top: 40px;
}

.transi-contact-droite{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    right: 100px;
    width: 30%;
    height: 200px;
}

.transi-contact-texteD{
    text-align: center;
    font-size: 20px;
}

.transi-contact-btn-block{
    position: relative;
    top:-30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.transi-contact-btn{
    transition: transform 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 30px;
    background-color: #13A9DD;
    border-radius: 5px;
    color: aliceblue;
    font-family: "inter", sans-serif;
    font-style: italic;
    font-weight: bold;
}

.transi-contact-btn:hover{
    transform: scale(1.2);
}


/*================= LES PRIORITE DE DITRIBAT =======================*/

.priorite-container{
    z-index: 90;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 550px;
    width: 93%;
    left: 1%;
    top: 20px;
    background-color: #D8EBF0;
    border-radius: 100px;
    border: solid 44px white;
}

.priorite-title {
  width: auto;
  height: 30px;
  color: #373b4d;
  font-size: 30px;
  font-style: italic;
  font-weight: bold;
  font-family: "annapolis";
  position: relative;
}

/* animation */

.priorite-title::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #373b4d;
  transform: scaleX(0);
  transform-origin: left center;
  transition: transform 1.5s ease-in-out;
}

.priorite-title.animate::after {
  transform: scaleX(1);
}
  
/* animation */

.priorite-block-content{
    width: 90%;
    height: 450px;
    display: flex;
}



.priorite-block-textG{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
    border-right: 3px solid #373b4d;
}

.priorite-block-textD{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
}

.priorite-block-title{
    color: #373b4d;
    font-family: "annapolis";
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
}

.priorite-block-textDo,
.priorite-block-textGa{
    text-align: center;
    padding: 15px;
    width: 90%;
    height: 400px;
    margin-top: 15px;
    color: #373b4d;
    font-family: "inter", sans-serif;
    font-weight: 100;
}

.priorite-block-textD{
    position: relative;
    height: 100%;
    width: 50%;    
}



/* animation */

.priorite-block-textDo,
.priorite-block-textGa{
    opacity: 0;
    transition: opacity 1s ease, transform 1.5s ease;
}

.priorite-block-textGa{    
    line-height: 40px;    
    font-size: 23px;
    transform: translateX(-100px);
}

.priorite-block-textDo{     
    line-height: 30px;
    font-size: 20px;
    transform: translateX(100px);
}

.priorite-block-textGa.animate{
    transform: translateX(0px);
    opacity: 1;
}

.priorite-block-textDo.animate{
    transform: translateX(0px);
    opacity: 1;
}

/* animation */

/*==================== TRANSITION CONSEIL =========================*/

.transi-conseil-container{
    position: relative;
    top: -50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 450px;
    background-color: #373b4d;    
    font-style: italic;
    font-weight: bold;
}

.transi-conseil-check img{
    padding-right: 400px;
    margin-top: 50px;
    height: 80px;
    width: 100px;
}

.transi-conseil-text{
    padding-left: 200px;
    color: aliceblue;
    font-family: "inter", sans-serif;
    font-size: 25px;
    margin-bottom: 50px;
    line-height: 40px;
    width: 70%;
    text-align: center;
}

/*================== Le Mot Du Gérant ======================*/

.gerant-container{
    z-index: 90;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 93%;
    left: 1%;
    top: -150px;
    background-color: #D8EBF0;
    border-radius: 100px;
    border: solid 44px white;
}

.gerant-element{
    width: 96%;
    height: 450px;
    display: flex;
    transform: translateY(-20px);
    opacity: 0;
    transition: opacity 1s ease-in-out, translate 1s ease;
}

.gerant-element.animate{
    transform: translateY(20px);
    opacity: 1;
}

.gerant-logo{
    overflow: hidden;
    width: 50%;
    height: 100%;
    border-radius: 50px;
}

.gerant-logo img{
    width: 100%;
    height: 100%;
}

.gerant-quote{
    width: 5%;
    height: 10%;
}

.gerant-quote img{
    width: 100%;
    height: 100%;    
    object-fit: contain;
    transform: rotate(-20deg);
    margin-top: 50px;
    padding-left: 50px;
}

.gerant-texte-block{
    width: 45%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.gerant-title{
    position: relative;
    color: #373b4d;
    font-family: "annapolis";
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
}

.gerant-title::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #373b4d;
  transform: scaleX(0);
  transform-origin: left center;
  transition: transform 1.5s ease-in-out;
}

.gerant-title.animate::after {
  transform: scaleX(1);
}

.gerant-texte{
    text-align: center;
    height: 400px;
    margin-top: 15px;
    margin: 0 25px;
    color: #373b4d;
    font-family: "inter", sans-serif;
    font-size: 20px;
    line-height: 35px;
}
.footer-wrapper {
    max-height: 100vh;
    display: flex;
    flex-direction: column;
  }





