@font-face {
	font-family: 'annapolis';
	src: url('/police/Annapolis.ttf') format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
    /* outline: dashed 1px red;  */
}

body{
    margin: 0;
    padding: 0; 
}

::selection{
    background: rgba(23,162,184,0.3);
  }

.bleu {
    color:#13A9DD ;
}

/* Styles pour la barre de défilement */
::-webkit-scrollbar {
    width: 8px; /* Épaisseur de la barre de défilement */
    background-color: #f1f1f1; /* Couleur de fond de la barre de défilement */
  }
  
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(135deg, #404040, #6b6b6b); /* Dégradé de gris foncé */
    border-radius: 4px; /* Coins arrondis */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(135deg, #363636, #606060); /* Dégradé de gris foncé au survol */
  }
  
  ::-webkit-scrollbar-thumb:active {
    background: linear-gradient(135deg, #2d2d2d, #545454); /* Dégradé de gris foncé au clic */
  }
  
  /* Styles pour les coins arrondis du track (piste) de défilement */
  ::-webkit-scrollbar-track {
    border-radius: 4px; /* Coins arrondis */
  }

/*========== BANNIERE ===========*/

.banniere-block{
    position: absolute;
    top: 0;
    height: 3500px;
    width: 100%;
    background: linear-gradient(#13A9DD 94%, #d8ebf0 6%);
    text-align: center;
}

.banniere-texte{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 175px;
    width: 100%;
    height: 100px;
    color: aliceblue;
    font-family: 'annapolis';    
}

.banniere-titre{
    font-weight: initial;
    font-size: 40px;    
}

/*========== BANNIERE ===========*/


/* ========= SHADOW =========== */
.shadow{
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 50px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 50px 5px rgba(0,0,0,0);
}


/* Ravalement caroussel */


.ravalement-center-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 600px;
    top: 350px;
  }
  
  .ravalement-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 300px);
    height: 100%;
    max-width: 1500px;
    background-color: #D8EBF0;
    border-radius: 100px;
    border: solid 44px white;
    margin: 0 auto;
  }
  
  .ravalement-container-title {
    opacity: 0;
    text-align: center;
    position: relative;
    width: 100%;
    height: 50px;
    color: #373b4d;
    font-family: "annapolis";
    font-size: 30px;
    margin-top: 20px;
    animation: fadeIn 1s ease-in-out forwards;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .ravalement-caroussel-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: auto;
    margin-bottom: 50px;
  }
  
  .ravalement-caroussel {
    position: relative;
    border: solid 10px #373b4d;
    width: 500px;
    min-width: 500px;
    height: 350px;
    background-color: #373b4d;
    border-radius: 50px;
    overflow: hidden;
  }
  
  /* Ravalement caroussel */
  
  .slides {
    width: 500%;
    height: 500px;
    display: flex;
    transition: all 1s ease;
  }
  
  .slides input {
    display: none;
  }
  
  .slide {
    width: 20%;
    transition: 2s;
  }
  
  .slide img {
    width: 500px;
    height: 350px;
  }
  
  /* ============ Fleches ============= */
  
  .ravalement-caroussel-container {
    position: relative;
  }
  
  .carousel-navigation {
    position: absolute;
    display: flex;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 500px;
  }
  .carousel-prev,
  .carousel-next {
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }
  
  .carousel-next,
  .carousel-prev {
    margin: 25px;
    color: #ffffff; 
    border-radius: 3px;
    background: #373b4d;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
  }

  .carousel-prev:hover{
    transform: scale(1.2);
  }
  .carousel-next:hover{
    transform: scale(1.2);
  }
  

/* ============ Fleches ============= */



/* ================ isolation ================ */
.isolation-center-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;
    margin-top: 500px;
}

.isolation-container{   
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 300px);
    height: 100%;
    max-width: 1500px; 
    background-color: #D8EBF0;
    border-radius: 100px;
    border: solid 44px white; 
    margin: 0 auto;
}
  
.isolation-title {
    opacity: 0;
    text-align: center;
    position: relative;
    width: 100%;
    height: 50px;
    color: #373b4d;
    font-family: "annapolis";
    font-size: 40px;
    margin-top: 20px;
    animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

.isolation-content{
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.isolation-caroussel-container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70%;
    margin-bottom: 50px;
}

.isolation-caroussel{
    position: relative;
    border:solid 10px #373b4d;
    min-width: 1000px;
    width: 1000px;
    height: 350px;
    background-color: #373b4d;
    border-radius: 50px;
    overflow: hidden;
}

.parallelogram {
    position: absolute;
	width: 50px;
	height: 368px;
	transform: skew(-5deg);
	background: #373b4d;
    left: 48%;
    z-index: 100;
}

.av-ap-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    color: #373b4d;
    font-family: 'annapolis';
    font-size: 20px;
    position: relative;
  }
  
  .scroll-title {
    position: relative;
  }
  
  .scroll-title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background-color: #373b4d;
    transition: width 1.5s ease;
  }
  
  .scroll-title.active::after {
    width: 100%;
  }



  
  .slide-isolation{
    width: 20%;
    transition: 2s;
  }
  
  .slide-isolation img{
    width: 1000px;
    height: 350px;
  }

  

.carousel-navigation-duo-av-ap{
  position: absolute;
  display: flex;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 1000px;
}
/* ================ isolation ================ */


/* ================ RENOVATION ================ */

.renovation-center-container {
    position: relative;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 600px;
    margin-top: 150px;
    z-index: 98;
}

.renovation-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 300px);
    height: 100%;
    max-width: 1500px; 
    background-color: #D8EBF0;
    border-radius: 100px;
    border: solid 44px white; 
    margin: 0 auto;
}
  
.renovation-title {
    opacity: 0;
    text-align: center;
    position: relative;
    width: 100%;
    height: 50px;
    color: #373b4d;
    font-family: "annapolis";
    font-size: 40px;
    margin-top: 20px;
    animation: fadeIn 1s ease-in-out forwards;
}


.renovation-content{
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.renovation-caroussel-container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70%;
    margin-bottom: 50px;
}

.renovation-caroussel{
    position: relative;
    border:solid 10px #373b4d;
    min-width: 1000px;
    width: 1000px;
    height: 350px;
    background-color: #373b4d;
    border-radius: 50px;
    overflow: hidden;
}

  .slide-renovation{
    width: 20%;
    transition: 2s;
  }
  
  .slide-renovation img{
    width: 1000px;
    height: 350px;
  }
  
 
/* ===================== AVIS ====================== */
.avis-center-container {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -50px;
}

.avis-container{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 600px;
    background-color: #373b4d;
}

.wrapper {
    max-width: 1500px;
    margin: auto;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    font-family: 'inter', sans-serif;
}

.wrapper .box {
    text-align: center;
    background: #fff;
    width: calc(33% - 10px);
    min-width: 250px;
    height: 210px;
    padding: 25px;
    margin: 15px;
    border-radius: 3px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);  
    flex: 1 0 300px;  
}

.box {
    transition: all 0.3s ease;
}

.box p {
    font-size: 14px;
}

.wrapper .box i.quote {
    font-size: 20px;
    color: #13a9dd;
}

.wrapper .box .content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}

.box .info .name {
    font-weight: 600;
    font-size: 17px;
}

.box .info {
    font-size: 16px;
    font-weight: 500;
    color: #13a9dd;
}

.box .info .stars {
    margin-top: 2px;
}

.box .info .stars i {
    color: #13a9dd;
}

.box:hover {
    transform: scale(1.1);
    box-shadow: 0px 10px 13px -7px #ffffff, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

@media (max-width: 1045px) {
    .wrapper .box {
        width: calc(50% - 10px);
        margin: 10px 0;
    }
}

@media (max-width: 702px) {
    .wrapper .box {
        width: 250px;
    }
}

/* ===================== AVIS ====================== */

.laisser-center-container {
    position: relative;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 250px;
    margin-top: -100px;
    z-index: 90;
}

.laisser-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: calc(100% - 500px);
    height: 100%;
    max-width: 1500px; 
    background-color: #D8EBF0;
    border-radius: 100px;
    border: solid 44px white; 
    margin: 0 auto;
    transition: all 1s ease;
}

.laisser-container:hover{
    transform: scale(1.01);
    box-shadow: 0px 10px 13px -7px #ffffff, 5px 5px 15px 5px rgba(0,0,0,0);
}

.laisser-texte{
    text-align: center;
    width: 60%;
    height: 80%; 
    color: #373b4d;   
    font-family: sans-serif;
    font-size: 32px;
    font-style: italic;
    font-weight: bold;
}

.laisser-logo-google{
    background: #373b4d;
    width: 150px;
    height: 150px;
    border-radius: 30%;
    margin-right: 70px;
}

.laisser-logo-google img {
    transform: scale(0.8);
    transition: transform 1s ease;
}

.laisser-logo-google:hover img {
    transform: scale(1);
}


/*=================== TRANSITION CONTACT =====================*/

.transi-contact-container{
    position: relative;
    top: -50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 300px;
    background-color: #373b4d;    
    font-style: italic;
    font-weight: bold;
    z-index: 10;
}

.transi-contact-gauche{
    position: relative;
    width: 50%;
    height: 200px;
}

.transi-contact-texteG1,
.transi-contact-texteG2,
.transi-contact-texteD{
    color: aliceblue;
    font-family: "inter", sans-serif;
    font-size: 20px;
    padding: 0 80px;
}

.transi-contact-texteG1,
.transi-contact-texteD{
    padding-top: 80px;
}

.transi-contact-droite{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    right: 100px;
    width: 30%;
    height: 200px;
}

.transi-contact-texteD{
    text-align: center;
    font-size: 20px;    
    width: 50%;
}

.transi-contact-btn-block{
    position: relative;
    top:0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
}

.transi-contact-btn{
    transition: transform 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 30px;
    background-color: #13A9DD;
    border-radius: 5px;
    color: aliceblue;
    font-family: "inter", sans-serif;
    font-style: italic;
    font-weight: bold;
    min-width: 90px;
}

.transi-contact-btn:hover{
    transform: scale(1.2);
}

.footer-wrapper {
    max-height: 100vh;
    display: flex;
    flex-direction: column;
  }

@media (max-width: 1500px){
    .banniere-texte{
        top: 75px;
    }
    .laisser-container,    
    .renovation-container,
    .isolation-container,
    .ravalement-container{
        top: -100px;
        border: solid 22px white;
    }
    .transi-contact-container{
        top: -150px;
    }
    .avis-container{
        top: -100px;
    }
    .footer-wrapper{
        top: -100px;
    }
    .wrapper{
        gap: 15px;
    }
    
}

@media (max-width: 1450px){
    .ravalement-caroussel{
        transform: scale(0.9);
    }
}

@media (max-width: 1350px){
    .ravalement-center-container{
        height: 800px;
    }
    .ravalement-caroussel-container{
        flex-direction: column;
        align-items: center;
        height: 80%;
    }
    .ravalement-container-title{
        margin: 0;
    }
    .ravalement-container{
        justify-content: space-around;
    }
    .renovation-container,
    .isolation-container{
        width: 100%;
        border-top: solid 22px white;
        border-bottom: solid 22px white;
        border-left: 0;
        border-right: 0;
        border-radius: 0;
    }
}


@media(max-width:1330px){
    .renovation-center-container,
    .isolation-center-container{
        height: 400px;
    }
    .renovation-caroussel,
    .isolation-caroussel{
        transform: scale(0.7);
    }
    .parallelogram{
        height: 250px;
        z-index: 100;
    }
    .isolation-title,
    .renovation-title{
        font-size: 20px;
    }
    .av-ap-container{
        font-size: 16px;
    }
}

@media (max-width: 1217px){
    .avis-container{
        height: 900px;
    }
    .banniere-block{
        height: 3600px;
    }
}
@media (max-width: 1140px) {
    .laisser-container{
        width: 100%;
        border-top: solid 22px white;
        border-bottom: solid 22px white;
        border-left: 0;
        border-right: 0;
        border-radius: 0;
    }
}

@media(max-width: 1040px){
    .ravalement-container-title{
        font-size: 18px;
    }
    .transi-contact-droite{
        width: 30%;
        right: 0;
    }

    .transi-contact-gauche{
        padding: 50px 0 0 50px;
        width: 70%;
        justify-content: space-around;
    }
    .transi-contact-gauche p{
        margin: 0 15px;
    }

    .transi-contact-texteG1,
    .transi-contact-texteG2,
    .transi-contact-texteD{
    font-size: 18px;
    padding: 0;
    margin-top: 30px;
    margin-left: 30px;
    }

    .transi-contact-btn-block{
        width: 100%;
        margin-top: 30px;
    }
    .transi-contact-texteG1,
    .transi-contact-texteD{
        padding-top: 0;
        margin-top: 30px;
    }
    
    .transi-contact-texteD{
        display: none;
    }
    
    .transi-contact-gauche{
        align-items: center;
        font-size: 16px;
    }

    .transi-contact-btn-block{
        position: relative;
        height: 100%;
        flex-direction: column;
    }
}

@media(max-width: 840px){
    .ravalement-caroussel{
        transform: scale(0.7);
    }
}

@media (max-width: 810px){
    .ravalement-container-title{
        font-size: 14px;
    }
}

@media (max-width: 762px){
    .avis-container{
        height: 1100px;
    }
    .renovation-caroussel,
    .isolation-caroussel{
        transform: scale(0.6);
    }
    .parallelogram{
        height: 222px;
    }
    .banniere-block{
        height: 3800px;
    }
}

@media (max-width: 700px){
    .ravalement-caroussel-container{
        margin-bottom: 0;
        height: 90%;      

    }
    .ravalement-container{
        width: 100%;
        border-radius: 0;
        border-right: 0;
        border-left: 0;
    }
}


@media (max-width: 640px){
    .laisser-texte{
        font-size: 25px;
    }
    .laisser-logo-google{
        transform: scale(0.7);
        margin-right: 0;
    }
}

@media(max-width: 620px){
    .renovation-caroussel,
    .isolation-caroussel{
        transform: scale(0.4);
    }
    .parallelogram{
        height: 148px;
    }
    .av-ap-container{
        font-size: 12px;
    }
    .renovation-center-container,
    .isolation-center-container{
        height: 300px;
    }
    .carousel-prev.large,
    .carousel-next.large{
        transform: scale(1.8);
    }
    .renovation-container{
        top: -240px;
    }
    .isolation-container{
        top: -170px;
    }
    .avis-container{
        top: -200px;
    }
    .transi-contact-container,
    .laisser-container{
        top: -200px;
    }
    .transi-contact-gauche{
        padding: 0;
    }
    .banniere-block{
        height: 3600px;
    }
    
}

@media (max-width:420px){
    .renovation-caroussel, .isolation-caroussel{
        transform: scale(0.37);
    }
    
    .parallelogram{
        width: 40px;
        height: 135px;
    }
}

@media (max-width:413px){
    .renovation-caroussel, .isolation-caroussel{
        transform: scale(0.3);
    }
    .parallelogram{
        width: 20px;
        height: 110px;
    }
    .isolation-title,
    .renovation-title{
        font-size: 18px;
    }
}

@media (max-width:390px){
    .wrapper{
        padding: 0;
    }
}

@media(max-width:380px){
    .ravalement-caroussel{
        transform: scale(0.5);
    }
    .ravalement-center-container{
        height: 600px;
    }
    .banniere-block{
        height: 3400px;
    }
}

@media (max-width: 370px){
    .laisser-texte{
        width: 100%;
        margin: 15px;
    }
    .laisser-logo-google{
        display: none;
    }
}

@media (max-width: 360px){
    .transi-contact-droite{
        display: none;
    }
    .transi-contact-gauche{
        width: 100%;
    }
    .box{
        width: 100%;
        object-fit: contain;
    }
    .wrapper{
        left: -50px;
        width: 250px;
        margin: 0;
    }
    .wrapper .box {
        width: 100%;
        flex-basis: 100%;
      }
}

@media (max-width: 310px){
    .box{
        transform: scale(0.8);
    }
    .renovation-caroussel, .isolation-caroussel{
        transform: scale(0.25);
    }
    .parallelogram{
        width: 20px;
        height: 90px;
    }
    .isolation-title,
    .renovation-title{
        font-size: 16px;
    }
}